<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Elision.Feature.Library.Fragments.SC.Integration.AddFragmentRenderings, Elision.Feature.Library.Fragments.SC.Integration"
                   patch:before="*[last()]" />
      </mvc.getXmlBasedLayoutDefinition>
    
    </pipelines>    
  </sitecore>
</configuration>