<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Elision.Feature.Library.Fragments.SC.Integration.AddFragmentRenderings, Elision.Feature.Library.Fragments.SC.Integration"
                   patch:before="*[last()]" />
      </mvc.getXmlBasedLayoutDefinition>

      <getChromeData>
        <processor type="Elision.Feature.Library.Fragments.SC.Integration.GetFragmentRenderingChromeData, Elision.Feature.Library.Fragments.SC.Integration"
                   patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetRenderingChromeData, Sitecore.Kernel']"/>
      </getChromeData>
    
    </pipelines>

    <commands>
      <command name="elision:feature:fragments:editfragment" type="Elision.Feature.Library.Fragments.SC.Integration.EditFragmentCommand, Elision.Feature.Library.Fragments.SC.Integration"/>
    </commands>
    
  </sitecore>
</configuration>