<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Elision.Fragments.AddFragmentRenderings, Elision.Fragments"
                   patch:before="*[last()]" />
      </mvc.getXmlBasedLayoutDefinition>

      <getChromeData>
        <processor type="Elision.Fragments.GetFragmentRenderingChromeData, Elision.Fragments"
                   patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetRenderingChromeData, Sitecore.Kernel']"/>
      </getChromeData>
    
    </pipelines>

    <commands>
      <command name="deg:rendering:editfragment" type="Elision.Fragments.EditFragmentCommand, Elision.Fragments"/>      
    </commands>
    
  </sitecore>
</configuration>